
::-webkit-scrollbar{
    display: none;
}
*{
    box-sizing: border-box;
margin: 0;
padding: 0;
zoom: 95%;
flex-wrap: wrap;
}
body{
background-color: white;


}
.meee{
border-radius: 15px;
height: auto;
width: 350px;



}
.kany{
    text-decoration: none;
    color: rgb(248, 243, 243);

}
.lktaba {font-family: 'Poppins', sans-serif;
    color: rgb(7, 7, 7);
  width: 400px;
  padding: 5px;
  font-size: large;
  line-height:30px;

 
    

}
.botona{

    border-radius: 12px;
    border: solid 0.5px black ;
    padding: 6px;
    background-color:#131212;
    color: white;
    cursor: pointer;
    margin-top: 5px;
}

.about{
width: 100%;

 

}
.aboutt{
    width: 550px;
    margin-top: 1px; 
 
}
.main{
width: 1130px;

margin:  100px;
margin-left: 10px ;
display: flex;
align-items: center;
justify-content:  space-around;
flex-wrap: wrap;
padding: 30px;
padding-top: 5px;
margin-top: 100px;
}






.img{
    border-radius: 15px;
    width: 40px;
    cursor: pointer;
}

.koko{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.kaka{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-style: oblique;
}
.navba{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 1px;
    margin-top: -200px;
    
}


.hero {
    height: 100vh;
    width: 100%;
    position: relative;
  margin-top: 10px;
  

}

.navb{
    border: solid rgba(184, 181, 181, 0.699) 1px;
    border-radius: 35px;
 padding-left: 100px;
 padding-right: 250px;
 padding-bottom: 5px;
 padding-top: 5px;
background-color: rgb(187, 178, 178);
 margin: auto;
 color: black;
 
}

nav{width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-bottom: 20px;



}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {

    text-decoration: none;
    color: rgb(5, 5, 5);
}
nav ul li a:hover {

    text-decoration: none;
    color: rgb(5, 5, 5);
}
span{
    color: rgb(124, 124, 124);
}
.dark{
border-radius: 9999999999px;
padding:2px 5px;
border: solid rgb(78, 78, 78) 0.5px;
cursor: pointer;
color: black;
background-color: white;
margin-left: 325px;
margin-top: 15px;
}
.dark:hover{
   background-color: #2c2b2ba6;
   color: white;
    }
 


    @media screen and (max-width: 768px) {
       
        ::-webkit-scrollbar{
            display: none;
        }
        *{
            box-sizing: border-box;
        margin: 0;
        padding: 0;
        zoom: 89%;
        flex-wrap: wrap;
        }

        
        
        .meee{
            border-radius: 15px;
            height: 500px;
            width: 350px;
            margin-left: 33px;
           
           
            margin-bottom: 20px;
            }


        
        
            .lktaba {font-family: 'Poppins', sans-serif;
                color: rgb(7, 7, 7);
              width: 400px;
              padding: 5px;
              font-size: large;
              line-height:30px;
            
            margin-left: 50px;
        
        }


              .botona{

            border-radius: 12px;
            border: solid 0.5px black ;
            padding: 6px;
            background-color:#131212;
            color: white;
            cursor: pointer;
            margin-top: 10px;
            margin-left: 50px;
          
}
.aboutt{
    width: 1110px;
    margin-top: 1px; 
 
}
      


.main{
width: 430px;

margin:  600px;
margin-left: 10px ;
display: flex;
align-items: center;
justify-content:  space-around;
flex-wrap: wrap;
padding: 30px;
padding-top: 5px;
margin-top: 100px;
}
     
             
                
.navba{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    margin-top: -550px;
    margin-left: 200px;
    

}        








.hero {
    height: 100vh;
    width: 100%;
    position: relative;
  margin-top: 10px;
  padding-right: -100px;
  

}

.navb{
    border: solid rgba(184, 181, 181, 0.699) 1px;
    border-radius: 35px;
 padding-left: 100px;
 padding-right: 22px;
 padding-bottom: 5px;
 padding-top: 5px;
background-color: rgb(187, 178, 178);
margin-top: 10px;
 color: black;
 display: flex;
 justify-content:space-around ;
 align-items: center ;
 

 
}





.dark{
    border-radius: 9999999999px;
    padding:2px 5px;
    border: solid rgb(78, 78, 78) 0.5px;
    cursor: pointer;
    color: black;
    background-color: white;
    
    margin: auto;
   margin-top: 20px;
   margin-left: 10px;
  


    }


    .img{
        border-radius: 15px;
        width: 30px;
        cursor: pointer;
        margin-left: -80px;
    }
    
    .ula{

        margin-left: 10px;
        margin-right: 10px;

    }



        body {
    margin: 0;
    padding: 0;
    height: 200%;
    zoom: 130%;
    
  }
  
  /* Styling the full-page div */
  .hero {
    max-width: 100%;
    max-height: 100%;

  }
  

}
    
